@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-fg: var(--color-neutral-100);
  --color-bg: var(--color-neutral-950);
  --color-bg-1: var(--color-neutral-900);
  --color-bg-2: var(--color-neutral-800);
  --color-bg-3: var(--color-neutral-700);
  --color-muted: var(--color-neutral-400);
}

@utility prose-default {
  --tw-prose-body: var(--color-fg);
  --tw-prose-headings: var(--color-fg);
  --tw-prose-lead: var(--color-bg-3);
  --tw-prose-links: var(--color-fg);
  --tw-prose-bold: var(--color-fg);
  --tw-prose-counters: var(--color-muted);
  --tw-prose-bullets: var(--color-muted);
  --tw-prose-hr: var(--color-bg-2);
  --tw-prose-quotes: var(--color-fg);
  --tw-prose-quote-borders: var(--color-bg-2);
  --tw-prose-captions: var(--color-bg-3);
  --tw-prose-code: var(--color-fg);
  --tw-prose-pre-code: var(--color-muted);
  --tw-prose-pre-bg: var(--color-fg);
  --tw-prose-th-borders: var(--color-bg-2);
  --tw-prose-td-borders: var(--color-bg-2);
}

.grid-background {
  background-size: 30px 30px;
  background-position: 15px 15px;
  background-image:
    linear-gradient(to right, var(--color-bg-2) 2px, transparent 1px),
    linear-gradient(to bottom, var(--color-bg-2) 2px, transparent 1px);
}

.pixelated {
  image-rendering: pixelated;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-bg text-fg selection:bg-fg selection:text-bg font-mono sm:text-base text-sm underline-offset-[2px];
}

* {
  @apply decoration-2;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  border: 5px solid rgba(0, 0, 0, 0);
  background-color: var(--color-bg-2);
  background-clip: padding-box;
  border-radius: 999px;
}
