@import "tailwindcss";

@theme {
  --color-fg: var(--color-neutral-100);
  --color-bg: var(--color-neutral-950);
  --color-bg-1: var(--color-neutral-900);
  --color-bg-2: var(--color-neutral-800);
  --color-muted: var(--color-neutral-500);
}

.grid-background {
  background-size: 30px 30px;
  background-position: 15px 15px;
  background-image:
    linear-gradient(to right, var(--color-bg-2) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-bg-2) 1px, transparent 1px);
}

.pixelated {
  image-rendering: pixelated;
}

body {
  @apply bg-bg text-fg font-mono underline-offset-[2px];
}

* {
  @apply decoration-2;
}
